/* Styling the body, buttons, etc. */
body {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #ebebeb;
  padding: 10px;
  text-align: right;
}

button {
  display: block;
  margin: 20px 0;
}

.hide {
  display: none;
}
